<html>
<body>
{{^name}}  <!-- THIS INDICATES THAT THE SESSION VALUE (FOR THE KEY "userName") IS NULL -->
<form action="/login" method="post">
    <input type="text" placeholder="Enter Your Name" name="userName"/>
    <button type="submit">Login</button>
</form>
{{/name}}
{{#name}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<form action="/createMessage" method="post">
    <input type="text" placeholder="Create a message" name="message"/>
    <button type="submit">Add Message</button>
</form>
{{/name}}

{{#messages}}
Messages by: {{#name}}{{name}}{{/name}}:
{{/messages}}
<ol>
{{#messages}}


    <li>{{text}}</li><form action="/delete" method="post">
    <input type="hidden" name="id" value="{{id}}"/>
    <button type="submit">Delete</button>
    </form>
    {{/messages}}
</ol>
</body>
</html>